@inject IOptions<BaseEmailSenderOptions> _options
@{
    var config = _options.Value;
    const string logoUrl = "https://www.nottingham.ac.uk/SiteElements/Images/uon-logo/UoN-Nottingham-Blue.png";
    const string brand = "#669F86";
    const string primary = "#10263B";
    const string secondary = "#009BC1";
    const string button = "#2E7E45";
    var title = ViewBag.Heading as string ?? config.ServiceName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
            line-height: 1.6;
            color: @primary;
            margin: 0;
            padding: 0;
        }

        .email-container {
            margin: 0 auto;
        }

        .email-content {
            padding: 40px 30px;
            font-size: 14px;
            min-height: 350px;
        }

        .email-content p {
            margin-bottom: 14px;
        }

        .email-content strong {
            font-weight: 500;
        }

        .email-content a {
            color: @brand;
            font-weight: 500;
            text-decoration: none;
        }

        .footer-logo img {
            height: 55px;
        }

        .button {
            display: inline-block;
            padding: 10px 0;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            background-color: @button;
            margin-bottom: 10px;
        }

        .button a {
            text-decoration: none;
            padding: 10px 20px;
            color: #ffffff;
            font-size: 12px;
        }

        .button:hover {
            opacity: 0.8;
            color: #ffffff;
            text-decoration: none;
        }

        /* Responsive design */
        @@media only screen and (max-width: 600px) {
            .email-wrapper {
                padding: 10px;
            }

            .email-container {
                width: 100% !important;
                margin: 0 !important;
                border-radius: 8px;
            }

            .email-content {
                padding: 30px 20px !important;
            }
        }
    </style>
</head>
<body>
<div class="email-wrapper">
    <div class="email-container">
        <!-- Header -->
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td width="40" bgcolor="@secondary" style="background-color: @secondary;"></td>
                <td bgcolor="@primary" style="background-color: @primary; color: #ffffff; padding: 10px 20px;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="color: @brand; font-size: 14px; font-weight: 500; padding-bottom: 5px;">
                                <p style="margin: 0;">@config.ServiceName</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h1 style="margin: 0; font-size: 18px; font-weight: 500;">@ViewBag.Heading</h1>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <!-- Content -->
        <div class="email-content">
            @RenderBody()
        </div>

        <!-- Footer -->
        <table width="100%" cellpadding="0" cellspacing="0" border="0"
               style="font-size: 12px; border-top: 1px solid #c3d9ef;">
            <tr>
                <td style="padding: 15px 10px; text-align: center;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td align="left" style="width: 50%;">
                                <div class="footer-logo">
                                    <img src="@logoUrl" alt="University of Nottingham logo"/>
                                </div>
                            </td>
                            <td align="right" style="width: 50%;">
                                <div>
                                    © @DateTime.UtcNow.Year @config.ServiceName
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
